body {
  padding-top: 80px;
  padding-left: 5%;
  padding-right: 5%;
}

.navbar-form {
	display: flex;
}

div.pull-right {

}

.checkbox {
  /*margin-left: 10px;*/
  margin-right: 10px;

}


#btn-deleteAll {
  /*margin-left: 10%;*/
  margin-top: 10px;
}

#btn-userInput {
   border: 10px solid black;
}

#jumbotron {
  margin-top: 30px;
}
.dark {
  background-color: black;
  color: white;
  border: 12px dashed darkred;
}
.large {
  font-size: 3em;
}
/*img {
  max-width: 400%;
  max-height: 400%;
}*/
