body {
  padding-top: 80px;
  padding-left: 5%;
  padding-right: 5%;
}

.navbar-form {
	display: flex;
}

div.pull-right {

}

.checkbox {
  /*margin-left: 10px;*/
  margin-right: 10px;

}


#btn-deleteAll {
  /*margin-left: 10%;*/
  margin-top: 10px;
}

#btn-userInput {
   border: 10px solid black;
}

