/*Clearing the browser defaults*/
* {
	margin: 0;
	padding: 0;
	background-color: #C0C0C0;
	font-size: 1em;
	color: black;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

a.navbar-brand {
	padding-top: 3px;
}

header {
	position: fixed;
	margin-bottom: 25px;
	top: 0;
}

.jumbotron, .userOutput {
	margin-top: 100px;
}
/**Nav Bar styling **/

.navbar-form {
	display: flex;
	box-sizing: border-box;
	justify-content: flex-start;
	align-items: flex-start;
}

.pull-right {
	flex: 1;
	vertical-align: middle;
	padding-top: 10px;

}

#userInput, 
#btn-userInput, 
#btn-deleteAll {
	flex-basis: 20%;
	flex: 1;
}

label {
	font-size: 1.5em;
	font-weight: 900;
}

/*Psuedo classes for the text and theme buttons*/

.btn-darkTheme {
	background-color: #070707;
	color: white;
}

.btn-largeText {
	font-size: 3em;
	font-family: 'Bree Serif', serif;
}

/*Logo Image Styling*/

.img-responsive {
	border-radius: 25%;
	border: 1px solid darkred;
	height: 100px;
	width: 75px;
	/*max-width: 100%;
	max-height: 200%;*/
}

h4 {
	float: left;
}

